@use 'base/variables' as v;
@use 'base/mixins' as m;

.nuestro-menu {
    background-image: url(../img/menu_arriba.svg), url(../img/menu_abajo.svg), linear-gradient(to top, v.$primario, v.$primario);
    background-repeat: no-repeat;
    background-position: center 5rem, center 92%, 100%;
    background-size: 200%;
    padding: 15rem 2rem 20rem 2rem;

    @include m.tablet {
        padding: 15rem 0 20rem 0;
        background-size: 100%;
    }
    @include m.desktop {
        background-size: 50%, 50%, 100%;
    }
}

.grid-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(150px, auto); // Altura mínima, pero se ajusta según el contenido
    gap: 2rem;

    @include m.tablet {
        grid-template-columns: repeat(2, 1fr); // 2 columnas en tablets y más grandes
    }

    @include m.desktop {
        grid-template-columns: repeat(2, 1fr); // 3 columnas en pantallas grandes
    }
}

.menu {
    h3 {
        color: v.$blanco;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 3rem;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.1); // Fondo ligero para mejorar visibilidad
        border-radius: 5px;

        // Asegura que todos los elementos de menú tengan un tamaño mínimo uniforme
        min-height: 120px;

        p {
            color: v.$blanco;
            font-size: 2rem;
            line-height: 1.5;
            margin: 0 0 0.5rem 0;

            span {
                display: block;
                color: v.$secundario;
                font-size: 1.8rem;
            }
        }

        .nombre-precio {
            display: flex;
            justify-content: space-between;
            width: 100%; // Asegura que el nombre y el precio ocupen todo el ancho disponible
            align-items: center;

            .nombre {
                color: v.$blanco;
                font-size: 2.2rem;
                font-weight: 700;
            }

            .precio {
                color: v.$secundario;
                font-size: 2.2rem;
                font-weight: 700;
                text-align: right;
                min-width: 100px; // Mantén un ancho mínimo para que los precios no salten
            }
        }

        .descripcion {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 8; // Limita a 2 líneas
            -webkit-box-orient: vertical;
            line-clamp: 3; // Versión estándar
        }        
        
    }
}

.menu-completo-enlace {
    margin-top: 3rem;
    text-align: center;

    a.boton {
        display: inline-block;
        padding: 1rem 2rem;
        background-color: v.$secundario;
        color: v.$negro;
        text-transform: uppercase;
        font-size: 1.8rem;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: v.$primario;
            color: v.$blanco;
        }
    }

    @include m.tablet {
        a.boton {
            font-size: 2rem;
            padding: 1.5rem 3rem;
        }
    }
    @include m.desktop {
        a.boton {
            font-size: 2.2rem;
            padding: 1.8rem 4rem;
        }
    }
}

.descripcion {
    font-size: 1.8rem;
    color: v.$blanco;
    line-height: 1.4;

    br + span { // Esto seleccionará el texto después de cada <br>
        font-size: 1.6rem; // Haz más pequeño el texto para otros idiomas
        color: v.$secundario; // Cambia el color del texto para resaltarlo
        font-style: italic; // Aplica un estilo itálico para diferenciar
    }

    span.language-en {
        color: v.$verdeOlivar; // Estilo específico para inglés
    }

    span.language-fr {
        color: v.$amarilloMiel; // Estilo específico para francés
    }
}

