@use 'base/variables' as v;
@use 'base/mixins' as m;

.nuestro-menu {
    background-image: url(../img/menu_arriba.svg), url(../img/menu_abajo.svg), linear-gradient(to top, v.$primario, v.$primario);
    background-repeat: no-repeat;
    background-position: center 5rem, center 92%, 100%;
    background-size: 200%;
    padding: 15rem 2rem 20rem 2rem;

    @include m.tablet {
        padding: 15rem 0 20rem 0;
        background-size: 100%;
    }
    @include m.desktop {
        background-size: 50%, 50%, 100%;
    }
}

.grid-menu {
    @include m.tablet { 
        @include m.grid(2, 2rem);
    }
}

.menu {
    h3 {
        color: v.$blanco;
    }
    li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 3rem;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.1); // Fondo ligero para mejorar visibilidad
        border-radius: 5px;

        p {
            color: v.$blanco;
            font-size: 2rem;
            line-height: 1.5;
            margin: 0 0 0.5rem 0;

            span {
                display: block;
                color: v.$secundario;
                font-size: 1.8rem;
            }
        }

        .nombre-precio {
            display: flex;
            justify-content: space-between;
            width: 100%; // Asegura que el nombre y el precio ocupen todo el ancho disponible
            align-items: center;

            .nombre {
                color: v.$blanco;
                font-size: 2.2rem;
                font-weight: 700;
            }

            .precio {
                color: v.$secundario;
                font-size: 2.2rem;
                font-weight: 700;
                text-align: right;
            }
        }

        .descripcion {
            margin-top: 1rem;
            font-size: 1.8rem;
            color: v.$blanco;
            line-height: 1.4;
        }
    }
}

// Estilo para el enlace al menú completo
.menu-completo-enlace {
    margin-top: 3rem;
    text-align: center;

    a.boton {
        display: inline-block;
        padding: 1rem 2rem;
        background-color: v.$secundario;
        color: v.$blanco;
        text-transform: uppercase;
        font-size: 1.8rem;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: v.$primario;
            color: v.$blanco;
        }
    }

    @include m.tablet {
        a.boton {
            font-size: 2rem;
            padding: 1.5rem 3rem;
        }
    }
    @include m.desktop {
        a.boton {
            font-size: 2.2rem;
            padding: 1.8rem 4rem;
        }
    }
}
